body {
    padding: 10px;
    background-color: #111b2c;
    font-family: 'Poppins', sans-serif;
}

main {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

a:link {
    text-decoration: none;
    color: #c3cfdc;
}

a:visited {
    text-decoration: none;
    color: #c3cfdc;
}

a:hover {
    text-decoration: none;
    color: #007FFF;
}

a:active {
    text-decoration: none;
    color: #c3cfdc;
}

.bwa {
    border: 2px solid #007FFF;
    background-color: #2b394a;
    color: white;
    padding: 2em;
    box-sizing: border-box;
    border-radius: 20px;
    font-weight: 400;
    letter-spacing: 0.2rem;
    font-size: 0.6em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

@media only screen and (min-width: 600px) {
    .bwa {
        margin-top: 5em;
        width: 50vw;
    }
}

@media only screen and (max-width: 600px) {
    .bwa {
        width: 40em;
        margin-top: 20em;
        max-width: 95vw;
    }
}

input:focus {
    outline: none;
}

input::placeholder {
    letter-spacing: 0;
    color: grey;
    font-size: 1.2em;
}

.addressCheckButton {
    background-color: #007FFF;
    border: 2px solid #007FFF;
    border-radius: 10px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2em;
    margin-top: 2em;
    cursor: pointer;
    font-weight: 700;
    letter-spacing: 0.05rem;
    padding: 1rem 2rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.addressCheckButton:hover {
    border: 2px solid white;
}

.headerTitle {
    text-align: center; 
    font-size: 5vh; 
    color: white;
    font-weight: 700;
    line-height: 0.975;
}

@media only screen and (min-width: 600px) {
    .headerTitle {
        margin-top: 10%;
    }
}

@media only screen and (max-width: 600px) {
    .headerTitle {
        margin-top: 20%;
    }
}

.headerSubtitle {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: #c3cfdc;
    margin-top: -2%;
}

.logo {
    color: white;
    font-size: 14px;
}

footer {
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.footerLinks {
    font-size: 12px;
    color: #c3cfdc;
    white-space: nowrap;
}

.btc-balance {
    text-align: center;
}

.result {
    margin-top: 4rem;
    font-weight: 400;
}

.headerTitleSubpage {
    text-align: left; 
    font-size: 5vh; 
    color: white;
    font-weight: 700;
    line-height: 0.975;
}

.headerSubtitleSubpage {
    text-align: left;
    font-size: 18px;
    font-weight: 400;
    color: #c3cfdc;
    margin-top: -2%;
}

@media only screen and (min-width: 600px) {
    .headersSubpage {
        margin-left: 10vw;
        margin-top: 10vh;
    }
}

@media only screen and (min-width: 600px) {
    .donationWalletData {
        margin-left: 10vw;
        margin-top: 5vh;
    }
}

.donationAddressText {
    color: #c3cfdc;
}